.form-container {
    background-color: whitesmoke;
    padding:20px 20px 20px 20px;
    margin: 12px;
   box-shadow: 2px 2px 2px #000;
  }

::ng-deep.mat-mdc-form-field-infix{
padding: 0!important;
}

 